<form *ngIf="formStatus" [formGroup]="formPetitions" (ngSubmit)="onSubmit()">

    <div class="text-gray-900 flex justify-center">
        <div class="w-full m-0 sm:m-10 flex justify-center flex-1">
            <div class="w-full">
                <div class="flex flex-col items-center">

                    <p class="text-center text-lg text-white">¡Envía tu petición!</p>
                    <h1 class="text-center text-white">Nuestros DJ's verán la información que envíaste.</h1>

                    <div class="w-full flex-1 mt-8">

                        <div class="mx-auto max-w-xs">
                            <input
                                class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                                type="text" placeholder="Habbo Nombre" formControlName="habbo" />

                            <textarea
                                class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5"
                                placeholder="Escribe tu petición" formControlName="message"
                                [maxlength]="200"></textarea>

                            <button [disabled]="formPetitions.invalid || isLoading"
                                (click)="captchaRef.execute(); onSubmit()"
                                class="mt-5 cursor-pointer tracking-wide font-semibold bg-red-500 text-gray-100 w-full py-4 rounded-lg hover:bg-red-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">

                                <span class="ml-3">
                                    Enviar
                                </span>
                            </button>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <re-captcha size="invisible" #captchaRef="reCaptcha" siteKey="6Lflqv0pAAAAAKK6dIfGNrim1pc7kiKBNvTxxcwV"
        (resolved)="resolved($event)">
    </re-captcha>

</form>

<div class="flex items-center justify-around" *ngIf="!formStatus">
    <img
        src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hr-4360-1394-61.hd-180-7-61.ch-806-110-61.lg-280-110-61.sh-906-92-61&gender=M&direction=2&head_direction=2&action=drk=0&gesture=sad&size=m">
    <div>
        <p class="text-center text-lg text-white">Las peticiones están <strong
                class="text-red-500">deshabilitadas</strong></p>
        <p class="text-sm text-end text-white">¡Ve y dile al DJ dile que las habilite!</p>
    </div>
</div>