<div class="audio-player bg-neutral-900 bg-opacity-90">

    <div class="flex items-center justify-between">

        <div class="flex w-1/3 dj-container">

            <div class="overflow-hidden w-24 h-24 gradient-item z-1" style="background-color: #FF4438;">
                <img class="object-cover w-full h-full zoom-hover habbo-image z-2" [src]="habboData.image"
                    alt="Habbo imagen">
            </div>

            <ul class="pl-4">
                <li>
                    <span class="on-live">En Directo</span>
                </li>
                <li class="text-white">
                    <a href="https://www.habbo.es/profile/{{habboData.name}}" target="_blank">
                        {{ habboData.name }}
                    </a>
                </li>
                <li class="text-white">Oyentes: {{ radioInfo.listeners || 0 }}</li>
            </ul>

        </div>

        <div class="player-container w-1/3">

            <div class="flex justify-center items-center ">
                <button type="button" matTooltip="Recarga la Página" (click)="reloadPage()">
                    <div class="w-7 h-7">
                        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path
                                d="M16 2h-2v2h2v2H4v2H2v5h2V8h12v2h-2v2h2v-2h2V8h2V6h-2V4h-2V2zM6 20h2v2h2v-2H8v-2h12v-2h2v-5h-2v5H8v-2h2v-2H8v2H6v2H4v2h2v2z"
                                fill="white" />
                        </svg>
                    </div>
                </button>

                <button type="button" [matTooltip]="isPlaying ? 'Pausar la radio' : 'Escuchar la radio'"
                    (click)="togglePlayPause()">

                    <div class="relative w-16 h-16 ml-3 mr-3">
                        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-full h-full">
                            <path
                                d="M17 3H7v2H5v2H3v10h2v2h2v2h10v-2h2v-2h2V7h-2V5h-2V3zm0 2v2h2v10h-2v2H7v-2H5V7h2V5h10z"
                                fill="white" />
                        </svg>
                        <ng-container *ngIf="!isPlaying">
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                class="absolute inset-0 m-auto w-7 h-7">
                                <path d="M10 20H8V4h2v2h2v3h2v2h2v2h-2v2h-2v3h-2v2z" fill="white" />
                            </svg>
                        </ng-container>

                        <ng-container *ngIf="isPlaying">
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                class="absolute inset-0 m-auto w-7 h-7">
                                <path d="M10 4H5v16h5V4zm9 0h-5v16h5V4z" fill="white" />
                            </svg>
                        </ng-container>

                    </div>

                </button>

                <button matTooltip="Enviar una petición/canción al DJ de turno." (click)="openFormRadio()">
                    <div class="w-7 h-7">
                        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path
                                d="M6 3h14v2h2v6h-2v8h-2V5H6V3zm8 14v-2H6V5H4v10H2v4h2v2h14v-2h-2v-2h-2zm0 0v2H4v-2h10zM8 7h8v2H8V7zm8 4H8v2h8v-2z"
                                fill="white" />
                        </svg>
                    </div>
                </button>
            </div>

            <marquee class="text-white" *ngIf="habboData.name === 'AutoDJ'">{{ convertString(radioInfo.history ? radioInfo.history[0] : '') }}</marquee>

        </div>

        <div class="flex justify-end items-center volume-container w-1/3">

            <div class="w-7 h-7">
                <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M11 2h2v20h-2v-2H9v-2h2V6H9V4h2V2zM7 8V6h2v2H7zm0 8H3V8h4v2H5v4h2v2zm0 0v2h2v-2H7zm10-6h-2v4h2v-4zm2-2h2v8h-2V8zm0 8v2h-4v-2h4zm0-10v2h-4V6h4z"
                        fill="white" />
                </svg>
            </div>

            <input type="range" min="1" max="100" value="50" [disabled]="false" [max]="1" [min]="0" [step]="0.01"
                matTooltip="Cambia el volumen de la radio {{ convertPercentage(volume * 100) }}%" [(ngModel)]="volume"
                #slider class="custom-color mr-2" (input)="onVolumeChange($event)">

        </div>

    </div>

</div>

<audio #audioPlayer src="https://sonic.streamingchilenos.com/8074/stream" autoplay></audio>