<div class="container-home overflow-auto h-full" *ngIf="!isLoading">

    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">

        <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">

            <div class="text-center text-white bg-gray-800 rounded-xl" *ngFor="let room of rooms">

                <div class="w-full flex justify-center z-0">

                    <div class="overflow-hidden z-0 w-full rounded-t-lg" style="background-color: #FF4438;">
                        <a href="https://www.habbo.es/room/{{room.externalData.id}}" target="_blank">
                            <img class="object-cover image-room w-full habbo-image z-0"
                                [src]="room.externalData.thumbnailUrl" draggable="false">
                        </a>
                    </div>

                </div>

                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    {{ room.externalData.name}}
                </h3>

                <p>{{ room.externalData.ownerName }}</p>

                <p class="mt-3 mb-4 font-light text-white pl-2 pr-2">
                    {{ room.externalData.description }}
                </p>

            </div>

        </div>

    </div>

</div>

<div class="container-home relative flex justify-center items-center h-full" *ngIf="isLoading">
    <div class="absolute animate-spin rounded-full h-60 w-60 border-t-4 border-b-4 border-red-500"></div>
    <img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hr-3791-1394-.hd-3096-10-.ch-3013-109-.lg-5594-110-.sh-3089-110-.ea-3484-undefined-.fa-5467-undefined-.wa-5599-110-110-.cc-3066-110-&gender=M&direction=2&head_direction=2&action=wlk,crr=5&gesture=spk&size=l"
        draggable="false">
</div>