<div class="container px-6 mx-auto grid">

    <h2 class="my-6 text-2xl font-semibold text-gray-200">
        Panel DJ - Dashboard
    </h2>

    <!-- Cards -->
    <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
        <!-- Card -->
        <div class="flex items-center p-4 rounded-lg shadow-xs bg-gray-800">

            <div class="p-3 mr-4 rounded-full text-orange-100 bg-orange-500">
                <svg class="w-5 h-5" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M19 4H5v2H3v14h7v-8H5V6h14v6h-5v8h7V6h-2V4zm-3 10h3v4h-3v-4zm-8 0v4H5v-4h3z"
                        fill="currentColor" />
                </svg>
            </div>
            <div>
                <p class="mb-2 text-sm font-medium text-white">
                    Oyentes <a href="https://sonic.streamingchilenos.com/8074/stream" target="_blank">(Link Radio)</a>
                </p>
                <p class="text-lg font-semibold text-gray-200" style="font-family: ui-monospace;">
                    {{ radioInfo.listeners || 0 }}
                </p>
            </div>
        </div>
        <!-- Card -->
        <div class="flex items-center p-4 rounded-lg shadow-xs bg-gray-800">
            <div class="p-3 mr-4 rounded-full text-green-100 bg-green-500">
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M16 4h6v16h-6V4ZM2 14h6v6H2v-6Zm13-4H9v10h6V10Z" />
                </svg>
            </div>
            <div>
                <p class="mb-2 text-sm font-medium text-white">
                    Bitrate
                </p>
                <p class="text-lg font-semibold text-gray-200" style="font-family: ui-monospace;">
                    {{ radioInfo.bitrate || 0 }}
                </p>
            </div>
        </div>
        <!-- Card -->
        <div class="flex items-center p-4 rounded-lg shadow-xs bg-gray-800">
            <div class="p-3 mr-4 rounded-full text-teal-100 bg-teal-500">

                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                    <path
                        d="M19 2h2v2h-2V2Zm2 14V4h2v12h-2Zm0 0v2h-2v-2h2ZM1 4h2v12H1V4Zm2 12h2v2H3v-2ZM3 4h2V2H3v2Zm2 2h2v8H5V6Zm2 8h2v2H7v-2Zm0-8h2V4H7v2Zm10 0h2v8h-2V6Zm0 0h-2V4h2v2Zm0 8v2h-2v-2h2Zm-6-7h4v6h-2v9h-2v-9H9V7h2Zm0 4h2V9h-2v2Z" />
                </svg>

            </div>
            <div>
                <p class="mb-2 text-sm font-medium text-white">
                    Entrar en Directo
                </p>

                <label class="inline-flex items-center me-5 cursor-pointer"
                    matTooltip="Al activar el botón, los usuarios verán que estás en línea.">
                    <input type="checkbox" class="sr-only peer" [checked]="imActive" (change)="changeStatusImActive()">
                    <div
                        class="relative w-11 h-6 rounded-full peer bg-gray-700 peer-focus:ring-4peer-focus:ring-green-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600">
                    </div>
                </label>
            </div>
        </div>
        <!-- Card -->
        <div class="flex items-center p-4 rounded-lg shadow-xs bg-gray-800">
            <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
                <svg class="w-5 h-5" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M4 2h18v16H6v2H4v-2h2v-2h14V4H4v18H2V2h2zm5 7H7v2h2V9zm2 0h2v2h-2V9zm6 0h-2v2h2V9z"
                        fill="currentColor" />
                </svg>
            </div>
            <div>
                <p class="mb-2 text-sm font-medium text-white">
                    Activar Peticiones
                </p>
                <label class="inline-flex items-center me-5 cursor-pointer"
                    matTooltip="Cuando activas el botón, se habilitará el formulario para que los oyentes te pidan canciones.">
                    <input type="checkbox" class="sr-only peer" [checked]="petitionsStatus"
                        (change)="changeValuePetitions()">
                    <div
                        class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600">
                    </div>
                </label>

            </div>
        </div>
    </div>

    <!-- New Table -->
    <div class="w-full overflow-hidden rounded-lg shadow-xs">

        <div class="w-full overflow-x-auto">

            <table class="w-full whitespace-no-wrap">

                <thead>
                    <tr
                        class="text-xs font-semibold tracking-wide text-left uppercase border-b border-gray-700text-gray-400 bg-gray-800">
                        <th class="px-4 py-3 text-white">Habbo</th>
                        <th class="px-4 py-3 text-white">Petición</th>
                        <th class="px-4 py-3 text-white">Fecha</th>
                        <th class="px-4 py-3 text-white">Acciones</th>
                    </tr>
                </thead>

                <tbody class="divide-y divide-gray-700 bg-gray-800">

                    <tr class="text-gray-400" *ngFor="let item of items$ | async">
                        <td class="px-4 py-3">
                            <div class="flex items-center text-sm">
                                <div class="relative hidden w-14 h-14 mr-3 rounded-full md:block">
                                    <a href="https://www.habbo.es/profile/{{item.habbo}}" target="_blank">
                                        <img class="object-cover w-full h-full rounded-full" [src]="item.habboImage"
                                            alt="" loading="lazy" />
                                    </a>
                                </div>
                                <div>
                                    <p class="font-semibold text-white flex">
                                        {{ item.habbo }}
                                        <img class="ml-2 object-contain"
                                            src="https://flagsapi.com/{{item.country}}/flat/16.png" alt=""
                                            title="{{item.country}}" draggable="false">
                                    </p>
                                    <p class="text-xs text-gray-400">
                                        IP: {{ item.ip }}
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td class="px-4 py-3 text-sm text-white">
                            {{ item.message }}
                        </td>
                        <td class="px-4 py-3 text-sm text-white">
                            {{ item.date | date: 'dd/MM/yyyy HH:mm:ss' }}
                        </td>
                        <td class="px-4 py-3">
                            <div class="flex items-center space-x-4 text-sm">
                                <button matTooltip="Borrar la petición de {{ item.habbo }}"
                                    (click)="deletePetition(item.id)"
                                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 rounded-lg"
                                    aria-label="Delete">

                                    <svg class="w-5 h-5" fill="none" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24">
                                        <path
                                            d="M16 2v4h6v2h-2v14H4V8H2V6h6V2h8zm-2 2h-4v2h4V4zm0 4H6v12h12V8h-4zm-5 2h2v8H9v-8zm6 0h-2v8h2v-8z"
                                            fill="white" />
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>